<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="auth-form.css">

    <title>Войдите в профиль</title>
</head>
<body>
<form action="">
    <div class="login-form-object">
        <div class="login-form-icon">
            <img src="../../assets/pictures/svg/Cancel.svg" width="14" height="14" alt="Отменить">
        </div>
        <div class="login-text-Btn-group">
            <div class="login-form-text">
                <h1>Войдите в профиль</h1>
                <p>Добавлять рецепты могут только зарегистрированные <br>пользователи.</p>
            </div>
            <div class="login-form-Btn">
                <button type="button">Войти</button>
                <button type="button">Регистрация</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>