<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="auth-form.css">
    <link rel="stylesheet" href="../../fonts/fonts.css">

    <title>Войдите в профиль</title>
</head>
<body>
<form>
    <div class="auth-form-overlay" id="authFormOverlay" style="display: none;">
        <div class="auth-form-container">
            <div class="auth-form-cancel-Btn">
                <button class="close-button">
                    <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z"
                              fill="#9196A1" fill-opacity="0.4"/>
                    </svg>
                </button>
            </div>
            <div class="auth-form-content-group">
                <div class="auth-form-text">
                    <h1>Войдите в профиль</h1>
                    <p>Добавлять рецепты могут только зарегистрированные <br>пользователи.</p>
                </div>
                <div class="auth-form-Btn">
                    <button>Войти</button>
                    <button>Регистрация</button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>