<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="user-login.css">
    <link rel="stylesheet" href="../../fonts/fonts.css">
    <title>Войти</title>

</head>
<body>
<form>
    <div class="login-form-overlay" id="loginFormOverlay" style="display: none;">
        <div class="login-form-container">
            <div class="login-form-object">
                <div class="login-form-cancel-Btn">
                    <button class="close-button">
                        <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z"
                                  fill="#9196A1" fill-opacity="0.4"/>
                        </svg>
                    </button>
                </div>
                <div class="login-form-title">
                    <h1>Войти</h1>
                </div>
                <div class="login-form-inputs">
                    <label for="login"></label>
                    <input type="text" id="login" name="login" placeholder="Логин" autocomplete="off">
                    <br><br>

                    <label for="password"></label>
                    <input type="text" id="password" name="password" placeholder="Пароль" autocomplete="off">
                    <br><br>
                </div>
                <div class="login-form-Btn">
                    <button type="button">Войти</button>
                    <button type="button" class="close-button">Отмена</button>
                </div>
                <div class="login-prompt">
                    <a href="#"><p>У меня уже есть аккаунт</p></a>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>